.DS_Store
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
Personal-website/node_modules/.vite/deps/_metadata.json
Personal-website/node_modules/.vite/deps/@react-three_drei.js
Personal-website/node_modules/.vite/deps/@react-three_drei.js.map
Personal-website/node_modules/.vite/deps/@react-three_fiber.js
Personal-website/node_modules/.vite/deps/chunk-3NORZVBX.js
Personal-website/node_modules/.vite/deps/chunk-3NORZVBX.js.map
Personal-website/node_modules/.vite/deps/chunk-NDIXVZED.js
Personal-website/node_modules/.vite/deps/chunk-NDIXVZED.js.map
Personal-website/node_modules/.vite/deps/chunk-OI6LZXN5.js
Personal-website/node_modules/.vite/deps/chunk-OI6LZXN5.js.map
Personal-website/node_modules/.vite/deps/three.js
Personal-website/node_modules/.vite/deps/three.js.map
